.chat-container {
  flex: 1; /* Allow the container to take up available vertical space */
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  background: rgba( 195, 160, 69, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-backdrop-filter: blur( 5px );
  backdrop-filter: blur( 5px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* Base style for each message row */
.message-row {
  display: flex;
  align-items: flex-end; /* Align bubble and timestamp at bottom */
  margin-bottom: 10px;
}

/* For messages from the other person (received) */
.message-row.received {
  justify-content: flex-start;
  background: rgba( 195, 160, 69, 0.25 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  -webkit-backdrop-filter: blur( 5px );
  backdrop-filter: blur( 52px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

/* For your messages (sent) */
.message-row.sent {
  justify-content: flex-end;
  /* Reverse the row direction so that if an avatar is added later it appears on the right */
  flex-direction: row-reverse;
  /* background: rgba( 195, 160, 69, 0.25 ); */
}

/* Avatar styling */
.avatar {
  width: 40px;
  height: 40px;
  margin: 7.9px 8px;
  border-radius: 50%;
  overflow: hidden;
}

.avatar img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
  border: none;
}

/* Message bubble styling */
.message-bubble {
  padding: 8px 12px;
  border-radius: 10px;
  max-width: 75%;
  word-wrap: break-word;
  /* background-color: #0b0000; */
}

/* Timestamp styling */
.message-timestamp {
  font-size: 10px;
  color: #0b0000;
  margin-top: 2px;
  text-align: right;
}

/* Wrapper for message text and timestamp */
.message-content {
  display: flex;
  flex-direction: column;
  background: rgba( 195, 160, 69, 0.25 );
  /* box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 ); */
  /* -webkit-backdrop-filter: blur( 5px ); */
  /* backdrop-filter: blur( 5px ); */
  /* border-radius: 10px; */
  /* border: 1px solid rgba( 255, 255, 255, 0.18 ); */
}
