.single-chat-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  /* background-color: rgb(237, 35, 4); */
}

.chat-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: #003333;
  color: white;
  font-family: 'Times New Roman', Times, serif;
  border-radius: 8px;
  border-bottom: 1px solid #ccc;
}

.back-button {
  /* background: none; */
  border: none;
  font-size: 25px;
  cursor: pointer;
}

.back-button:hover {
  color: #c02222;
}

.chat-box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  padding: 10px;
  background: #003333;
  border-radius: 8px;
  overflow-y: hidden;
}

.messages {
  flex: 1;
  overflow-y: auto;
  margin-bottom: 10px;
  /* background: rgba(216, 189, 145, 0.25); */
}

.message-input {
  padding: 10px;
  border: 2px solid #033333;
  border-radius: 8px;
  width: 100%;
}

.typing-indicator {
  font-size: 12px;
  color: rgb(22, 255, 1);
}

.no-chat-selected {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-size: 18px;
  color: rgb(128, 128, 128);
}

.spinner {
  text-align: center;
  font-size: 18px;
}


.typing-indicator{
  color: #ccc;
}